@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
body{
    background-color: rgb(231, 231, 231);
    margin: 0;
    padding: 0;
    width: 100%;
}
.container{
    top: 50px;
    text-align: center;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    position: relative;
}
.comecar{
    background: rgb(238, 98, 5);
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin: 10px auto;
    padding: 8px 20px;
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    width: 500px;
    height: 50px;
    display: block;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
}
.comecar:hover{
    background: rgb(223, 91, 3);
}
select{
    padding: 8px;
    width: 70px;
    height: 40px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    border: 0;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background: rgb(223, 91, 3);
    appearance: none;
    justify-content: space-between;
    cursor: pointer;
}
select:hover{
    background: rgb(207, 85, 4);
}
#display h3{
    font-family: 'Fjalla One', sans-serif;
    color: rgb(253, 105, 6);
    font-size: 80px;
}
#fimContagem{
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
    color: rgb(238, 98, 5);
}